
<div class="bg">
  <footer class="page-footer font-small pt-1">

<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center align-items-center mt-2">
      <p class="font-weight-bold"> SIGA-ME NAS REDES SOCIAIS</p>
      <ul class="link">
        <li>
          <a href="https://github.com/karinecordeiro" target="_blank" >
            <i class="fa fa-github px-2" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/in/karinecordeiro" target="_blank" >
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
  <div class="footer-copyright text-center py-1 p">
    <p class="mt-2 p"> © 2022 - Todos os direitos reservados a KaCorde </p>
  </div>
</footer>
</div>
