<footer class="page-footer font-small bg-warning pt-2">

<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <p class="font"> SIGA-ME NAS REDES SOCIAIS</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <ul class="link">
        <li>
          <a href="https://github.com/karinecordeiro" target="_blank" >
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/in/karinecordeiro" target="_blank" >
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
  <div class="footer-copyright bg-warning text-center py-2">
    <p class="font"> © 2022 - Todos os direitos reservador a KaCorde </p>
  </div>
</footer>
