<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center"> Apagar tema</h1>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-6 text-center">
      <h4 class="mt-3">Você tem certeza de que deseja apagar esse tema?
      <span> TODAS </span>as postagens relacionadas a ele serão apagadas também.</h4>
      <h5 class="mt-3 mb-3">Tema: {{tema.descricao}} </h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <button routerLink='/tema'> <i class="fa fa-undo" aria-hidden="true"></i> Voltar</button>
        <button class="excluir ml-5" (click)='excluir()'> Excluir </button>
    </div>
  </div>

</div>
