<nav class="navbar navbar-expand-lg navbar-light bg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active">
        <!--todo: link da foto variavel-->
        <img src="{{foto}}" alt="foto usuario" width="50" height="50" class="img-fluid rounded-circle">
      </li>
      <li class="nav-item pl-1">
        <!--todo: nome do usuario variavel-->
        <p class="m-0 pl-2 font-weight-bold">{{nome}}</p>
      </li>
      <li class="nav-item pl-2">
        <a href="">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item pl-2">
        <!--todo: botão para sair e apagar dados-->
        <a class="link" (click)="sair()">
          <i class="fa fa-sign-out"aria-hidden="true"> <i class="pl-1 fonte font-weight-bold">SAIR</i> </i>
        </a>
      </li>
    </ul>

  </div>
</nav>
