#imgBg{
  background-image: url('https://images.pexels.com/photos/5076523/pexels-photo-5076523.jpeg?cs=srgb&dl=pexels-cottonbro-5076523.jpg&fm=jpg');
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
p{
  font-size: 20px;
}
label{
  font-size: 14px;
}
a, p, label, h6{
  color: #ef476f;
}
a{
  text-decoration: none;
  color:#484fbb
}
a:hover{
  color:#161c70;

}

button{
  background-color: #ef476f;
  color:#ffffff;
  padding: 8px;
  border-radius: 0.25rem;
  border-color: transparent;
}
button:hover{
  background-color: #161c70;
  color: #ffffff;
}
.bg{
  background-color: #f6e1e8
}
