.bg{
  background-color: var(--azulBebe);
}
a{
  color: var(--azulMedio)
}
a:hover{
  color: var(--rosaMedio);
  text-decoration: none;
}
h1, h2{
  color: var(--azulEscuro)
}
h5{
  color: var(--azulMedio)
}
button{
  background-color: var(--azulMedio);
  color: var(--branco);
  padding: 8px;
  border-radius: 0.25rem;
  border-color: transparent;
}
button:hover{
  background-color: var(--rosaMedio);
  color: var(--branco);
}
