<div class="container-fluid bg-warning">
  <div class="row d-flex align-items-center">
<div class="col-md-6" id="imgBg"></div>

<div class="col-md-6">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <p class="text-center font">Faça o seu login aqui <i class="fa fa-arrow-circle-down pl-2" aria-hidden="true"></i></p>
        <form class="">
          <div class="form-group">
            <label for="usuario">Usuário:</label>
            <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Digite aqui seu usuário...">
          </div>

          <div class="form-group">
            <label for="senha font font-weight-bold">Senha:</label>
            <input class="form-control" type="password" name="senha" id="senha" placeholder="Digite aqui sua senha...">
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="text-warning">entrar</button>
          </div>

          <hr class="mt-4 mb-5">
          <h6 class="text-center font">Não tem uma conta? <a href="" class="invert text-warning"> Cadastre-se</a></h6>

        </form>
    </div>
  </div>
</div>
  </div>
</div>
